{% load static %}

<html>
<head>
</head>

<body style="background:transparent;">

<div style="text-align:center">
<h2 align='left'>Aakash Configuration</h2>

<img class='set' src="{% static 'images/aakash_tablet_ms.jpg' %}" align='middle' height="230" width="350" style="padding-left:1cm ; padding-right:10px" > 
<br><br>
<table class="center" border='1' align='center'>
<col width='250'>
<col width='250'>
<col width='250'>
<tr>
<th>Version </th>
<th>Version of AAKASH-1) </th>
<th>(Version of AAKASH-2) </th>
</tr>


<tr>
<td>Network </td>
<td>Wi-Fi </td>
<td>Wi-Fi </td>                        						    
</tr>


<tr>
<td>Display Size</td>
<td>7 Inches </td>  
<td>7 Inches </td>  
</tr>

<tr>
<td>Display Resolution</td>
<td>800×480 Pixels </td>  
<td>800×480 Pixels </td>  
</tr>

<tr>
<td>Touch Panel</td>
<td>Capacitive </td>  
<td>Capacitive </td>  
</tr>

<tr>
<td>Processor</td>
<td>366 Mhz with Graphics accelerator and HD Video processor </td>  
<td>Cortex A8; 1Ghz </td>  
</tr>

<tr>
<td>RAM Memory </td>
<td>256MB </td>  
<td>512MB </td>  
</tr>

<tr>
<td>Internal Storage </td>
<td>2GB Flash </td>  
<td>4GB </td>  
</tr>

<tr>
<td>Expandable Storage </td>
<td>2 GB to 32GB Supported </td>  
<td>32GB </td>  
</tr>

<tr>
<td>Camera </td>
<td>&nbsp;&#45;&nbsp;</td>  
<td>Front&nbsp;&#45;&nbsp;VGA </td>  
</tr>

<tr>
<td>Video HD </td>
<td>Yes</td>  
<td>Yes</td>  
</tr>

<tr>
<td>Calling </td>
<td>No</td>  
<td>No</td>  
</tr>

<tr>
<td>Additional Facilities </td>
<td>&nbsp;&#45;&nbsp;</td>  
<td>Micro SD; Mini USB</td>  
</tr>

<tr>
<td>Operating System </td>
<td>Android 2.2</td>  
<td>Android 4.0.X </td>  
</tr>

</table> 
</div>
</body>
</html>

