{% extends 'inner-base.html' %}
{% load static %}

{% block body_block %}
<div class="well">
  <h3><strong>Aakash Configuration</strong></h3>
  <div>

    <table class="center table table-responsive table-bordered
		  table-striped" border='1' align='center'>
      <col width='250'>
      <col width='250'>
      <col width='250'>

      <tr>
	<th>Version </th>
	<th>AAKASH-2 </th>
	<th>AAKASH-1 </th>
      </tr>

      <tr>
	<td>Processor</td>
	<td>Cortex A8; 1GHz</td>
	<td>ARM 11 - 366 MHz</td>
      </tr>

      <tr>
	<td>RAM Memory </td>
	<td>512MB </td>  
	<td>256MB </td> 
      </tr>

      <tr>
	<td>Internal Storage </td>
	<td>4GB </td>  
	<td>2GB </td>  
      </tr>

      <tr>
	<td>Operating System </td>
	<td>Android 4.0.4 </td> 
	<td>Android 2.2 </td>  
      </tr>

      <tr>
	<td>Touch Panel</td>
	<td>Capacitive </td> 
	<td>Resistive </td>  
      </tr>

      <tr>
	<td>Camera </td>
	<td>Front&nbsp;&#45;&nbsp;VGA </td>
	<td>Front&nbsp;&#45;&nbsp;VGA </td> 	
      </tr>

      <tr>
	<td>Battery</td>
	<td>3200 mAh</td>  
	<td>2100 mAh</td>  
      </tr>

      <tr>
	<td>Display Size</td>
	<td>7 Inches </td>  
	<td>7 Inches </td>  
      </tr>

      <tr>
	<td>Display Resolution</td>
	<td>800×480 Pixels </td>  
	<td>800×480 Pixels </td>  
      </tr>

      <tr>
	<td>Network</td>
	<td>Wi-Fi IEEE 802.11 a/b/g</td>  
	<td>Wi-Fi </td>  
      </tr>

      <tr>
	<td>Expandable Storage </td>
	<td>upto 32GB Supported </td>  
	<td>upto 32GB Supported </td>  
      </tr>

      <tr>
	<td>Video HD </td>
	<td>Yes</td>  
	<td>Yes</td>  
      </tr>

      <tr>
	<td>Calling </td>
	<td>No</td>  
	<td>No</td>  
      </tr>

      <tr>
	<td>Additional Facilities </td>
	<td>Micro SD; Mini USB</td> 
	<td>2 full length USB</td>  
      </tr>

    </table> 
  </div>
</div>
{% endblock body_block %}
