{% extends 'inner-base.html' %}
{% load static %}

{% block body_block %}
<div class="well">
  <h3><strong>Tablet Distribution and Testing</strong></h3>
  <div style="padding-right:15px;  float:left;">
    <img class="set img-thumbnail img-responsive"
	 src="{% static 'images/aakash_tablet.jpg' %}"
	 align='left' height="140" width="200" > 
  </div>

  <p align="justify">
    A total of 1,00,000 tablets were received by IIT Bombay from
    Datawind. These were distributed among various remote center
    colleges across the country. For the details of
    remote-center wise receipts of the tablets visit
    
    <a href=http://www.it.iitb.ac.in/aakash2/dispatchDetailsForManager.jsp
       target="_blank">Distribution Details of Tablet.</a>
    <br>
    
    IIT Kharagpur, now a partner of IITB for Aakash related
    activities, has taken up the responsibility of new Remote
    Centers in the eastern and northern India, and to distribute
    Aakash for testing and application development.
  </p>
  
  <h4>Testing</h4>
  <h5><strong>Lab Testing by C-DAC (Thiruvananthapuram)</strong></h5> 

  <p align="justify">
    CDAC Thiruvananthapuram was entrusted with the responsibility of
    carrying out the detailed lab testing of the Aakash tablet samples
    as part of the Aakash project given by MHRD to IIT Bombay.</br> Testing
    was done in five phases :
  </p>

  <div style="padding-left:15px ; padding-right:1.5cm;  float:right;">
  	   <img src="{% static 'images/CDAC4.jpg' %}" align="right"
	   height="100" width="250" style="padding-left:15px;
	   padding-right:2px;" class="img-thumbnail img-responsive">
  </div>

  <ul >
    <li>Aakash Status Report dated 22 August 2012</li>
    <li>Aakash Status Report dated 30 May 2013</li>
    <li>ERTL Test Report dated 15 April 2013</li>
    <li>Aakash Status Report dated 8 July 2013</li>
    <li>Aakash Test Report dated 8 July 2013</li>
  </ul>

  <p align="justify">
    <a href="{% static 'doc/Aakash_Status_2013_08_19_CDAC_LabTest.pdf' %}"
       target="_blank">Latest Lab Testing report dated 8 July 2013 by
      CDAC.
    </a>
  </p>

  <h5><strong>Field Testing</strong></h5>
  <p align="justify">
    Field Testing is done at the Aakash Project Centres (APCs) of IIT
    Bombay.
    <br>
    <a href="{% static 'doc/Aakash_Status_2013_08_19_FieldTrial.pdf' %}"
       target="_blank">Result of Field Trial for Development and
       Testing.
    </a>
  </p>
      
</div> <!-- well -->
{% endblock body_block %}
