<h2>Future Plans on Aakash</h2> 

<p>
The Aakash 4 tablet is proposed to have one gigahertz of RAM , Bluetooth, a dual-core processor and second-generation 
phone calling facility -- specifications decided by a 12-member committee comprising representatives 
of department of electronics and information technology, C-DAC, IIT Bombay and directorate general 
of supplies and disposal, which has floated the tender. </br></br> The tablet will also support WiFi, 2G, 3G and 4G 
connectivity and come with 4GB of internal storage, external memory card slot with storage capacity of 
up to 32 GB , bluetooth and front camera.
</p>
