{% extends 'inner-base.html' %}
{% load static %}

{% block body_block %}

<div class="well">
  <div class="col-md-9" id="">     
    <strong>Aakash II</strong> was formally launched by <strong>Hon'ble
      President of India, Shri. Pranab Mukherjee</strong>, on 10
      November 2012.

    <div align="justify">
      <p align="justify">
	<div style="padding-right:15px; float:left;">
	  <img src="{% static 'images/aakash-2-launch-india.jpg' %}"
	       style="width:300px;"
	       class="img-thumbnail"/>
	</div>

	Every Indian learner desires a chance to receive the highest
	quality education. Scarcity of trained teachers hinders this
	aspiration. Difficulty in accessing the best educational
	content, in an affordable manner, further accentuates the
	problem. Effective use of Information and Communication
	Technologies, helps in significantly addressing these twin
	issues. Aakash Tablet, launched by Government of India, is
	emerging as a key ICT tool for this purpose. When used in
	conjunction with the high speed network of <a target="_blank"
	href="http://www.nkn.in/"> National Knowledge Network(NKN)</a>,
	Aakash has a great potential to become a ubiquitous and
	effective ICT tool for students and teachers.
	<br><br>
      </p>


      <div style="direction:ltr">
	<p align="justify">
	  <div style="float:right; padding-left:10px;">
	    <img src="{% static 'images/aakashdbp.jpg' %}"
		 style=" width:300px;height=400px;"
		 class="img-thumbnail"/>
	  </div>
	  
	  Aakash project at <strong>Indian Institute of Technology
	  Bombay,</strong> is dedicated to the development of useful
	  applications and content for use with Aakash. It attempts
	  to empower teachers, by using a unique blend of technology,
	  e-content, and an innovative pedagogy. While the main focus
	  of this project is on engineering education, it is proposed
	  to use the creative talent of these professional students
	  and teachers, to develop applications and content for all
	  levels of education, including school education, in Indian
	  languages.  <br /><br /></p>
      </div>
	
      
    </div>
  </div> <!-- col -->
</div> <!-- well -->
{% endblock body_block %}

