{% extends 'inner-base.html' %}
{% load static %}

{% block body_block %}
<div class="well">
  <div class="col-md-9">
    
    <h3><strong>Projects</strong></h3>
    <p align ="justify"> IIT Bombay, has created this web
      portal to serve as a central repository for all Aakash
      Projects and research and development related activities undertaken
      at all Aakash Centres.</br></br>
      
      Aakash Lab aims at developing useful Open Source applications
      and content for Aakash Tablet. These will encompass the entire
      educational spectrum from schools to colleges, and from
      vocational training to professional studies.Various applications
      have been developed at IIT Bombay. <br /><br /> We have around
      350 Engineering colleges as Aakash Centres which aid us in
      research and development of applications for Aakash Tablet. The
      goal is to complete the deployment at over 500 engineering
      colleges, and to build a large community of thousands of
      talented professional students and teachers from these colleges,
      to carry out large scale development of applications and content
      for use in all colleges.<br />

      <table class="center table table-responsive table-bordered
		    table-striped"
	     border='1' align='center'>
	<tr>
	  <td><a href="/ac/" target="_parent">Aakash Centers </a></td>
	  <td><a href="/ac/iitb/" target="_parent">IITB Projects</a></td>
	  <td><a href="/ac/projects/" target="_parent">All Projects</a></td>
	</tr>
      </table>

  </div> <!-- col -->
</div> <!-- well  -->
{% endblock body_block %}

