{% load static %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome-4.0.3/css/font-awesome.min.css' %}"  rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"> </script>
	  <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
             <script src="{% static 'js/bootstrap.js' %}"> </script>
        <title> Training And Contests</title>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    </head>
    <body style="background:transparent;">
       <div >
                     <h3>Training Programs<h3>
               </div>

 
            <br>
            

           <div class="bs-example">
    <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"  style="color:#3498DB"><u>Training  Program For Teachers</u></a>
          
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <p>This orientation program was conducted on 10,11 November 2012. Over 13,000 teachers from
the APCs, participated in this program. On this occasion, Aakash 2 was formally launched by
Hon’ble President of India, Shri. Pranab Mukherjee, on 10 November 2012. Hon’ble HRM
Dr. Pallam Raju, Hon’ble Ministers of State Dr. Shashi Tharoor and Shri. Jitin Prasada, and
Secretaries from MHRD, were present during this launch. </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style="color:#3498DB"><u>Training Program For Student</u></a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
            
            In order to train teachers and students of these colleges, we planned two training programs.
The first was a 2 day orientation program for teachers, which was conducted on 10, 11 November
2012. Over 13,000 teachers from the APCs, participated in this program.</p><p>
An Aakash Research Fellowship Award contest was announced for participating teachers.
They were asked to form teams, and write essays on how best to utilize Aakash tablets to
enhance the effectiveness of learning process, and to improve quality of education in engineering
colleges. More than 2000 submissions have since been received. These are being evaluated
through a peer review process.</p><p>
A training program for students from these colleges, was similarly planned and conducted over
2 weekends: 23-24 February 2013, and 3-4 March 2013. More than 30,000 students originally
registered for this training program. Because of the restricted lab facilities in our Remote
Centres, we could accommodate only about 8,000 of these to attend the program and complete
all quizzes and assignments, and they were awarded certificates. The program was greatly
appreciated by the participants.</p><br>
The following topics were covered in the workshop<br>
1. Java Basics for Android<br>
2. Introduction to Android<br>
3. Android Environment: Installation Creating AVD<br>
4. Eclipse IDE<br>
5. A Simple Android Application<br>
6. Android Building Blocks<br>
7. User Interface and Controls<br>
8. Resources and Supporting Multiple Screens<br>
9. Data Storage<br>
10. Basics of Image Handling and Media<br>
11. Developing Web Apps on Android OS<br>
12. Publishing your Android App<br>
13. HTML5 on Android<br>
14. Version control, Documentation, and various software licenses<br>
15. Advanced Android Debugging<br>
16. Introduction to Animation<br> a) View Animation b) Property Animation<br>
17. Android Canvas<br>
18. Interactive Educational Animations on Aakash Tablet<br>
19. Android Internals<br>
20. Android Policy Framework<br>
21. Android Security<br>
22. Efficient Energy Utilization<br>
23. Authentication Mechanism on Android<br>
24. Handling Low Memory Scenario in Android<br>
25. Android Permission Model<br>
26. Data Visualization Issues on Aakash Tablets<br></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"  style="color:#3498DB"><u>Training  Program For Interns</u></a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Like each year, good students from different colleges are invited to work at IIT Bombay during
summer months as interns. This year, the Aakash project announced a large scale internship
program. Over 3,000 students across the country applied. A total of 160 students from 80
colleges in the country were admitted to the internship program.</p><p>
All these students were given extensive training in Android apllication development. Covering
all the topics listed in the previous section, teams of interns developed several useful applications. These have
been added to the Aakash repository of Open Source applications.</p>
      </div>
    </div>
  </div>
</div>
</div>
		<br>
			<div >   
        <div   align="center">
                    <b><font color="black" size=4 > Workshop Conducted  </font></b>
               </div>
			 <table cellpadding='10' cellspacing='2'  width="90%"   rules="" border="1" align="center" style="font-size:14px" >
                        
				 <tr>
                                    <th width="5%" height="30%"  align="center" >Sr. No.</th>
                           
                                  <th width="40%" height="30%" >Workshop Name</th>
                        
                                    <th width="21%" height="30%" >Coordinator Names</th>
                                    <th width="12%" height="30%" >Start Date</th>
                                     <th width="12%" height="30%" >End Date</th>
                        
                        
                        <th width="10%" height="30%" >Status</th>
                               </tr>                                  
				

				<tr>
                                    <td width="10%" height="30%"  align="center" >1.</td>
                           
                                  <td width="40%" height="30%" ><a href="http://www.it.iitb.ac.in/nmeict/workshop_content.do?itemcode=32100010&category=4" target="_blank">Coordinator Workshop on Aakash for Education</a>
                        
                                    <td width="20%" height="30%" >Prof. Deepak B. Phatak,</br> Prof. Uday Gaitonde, </br>Prof. Kannan Moudagalya</td>
                                    <td width="10%" height="30%" >November 5th, 2012</td>
                                     <td width="10%" height="30%" >November 5th, 2012</td>
                        
                        
                        <td width="10%" height="30%" >Completed</td>
                               </tr>    
                                   
                  
                                <tr>
                                    <td width="2%" height="30%"   align="center">2.</td>
                           
                                  <td width="40%" height="30%" ><a href="http://www.it.iitb.ac.in/nmeict/workshop_content.do?itemcode=5000010&category=5" target="_blank">2 days ISTE Workshop on Aakash for Education</a>
                        
                                    <td width="20%" height="30%" >Prof. Deepak B. Phatak,</br> Prof. Uday Gaitonde, </br>Prof. Kannan Moudagalya</td>
                                    <td width="10%" height="30%" >November 10th, 2012</td>
                                     <td width="10%" height="30%" >November 11th, 2012</td>
                        
                               
                        
                        <td width="10%" height="30%" >Completed</td>
                               </tr>    
                                   
                  
                                <tr>
                                    <td width="2%" height="30%"  align="center" >3.</td>
                           
                                  <td width="40%" height="30%" ><a href="http://www.it.iitb.ac.in/nmeict/workshop_content.do?itemcode=5000013&category=5" target="_blank">Aakash Android Application Programming Workshop for Students</a>
                        
                                    <td width="20%" height="30%" > Team Aakash</td>
                                    <td width="10%" height="30%" >February 23rd, 2013</td>
                                     <td width="10%" height="30%" >March 3rd, 2013</td>
                        
                               
                        
                        <td width="10%" height="30%" ">Completed</td>
                               </tr>    
                                                                  
                  
                                <tr>
                                    <td width="2%" height="30%"  align="center" >4.</td>
                           
                                  <td width="40%" height="30%" ><a href="http://www.it.iitb.ac.in/nmeict/workshop.do" target="_blank">Other Training  And Workshop</a>
                        
                                    <td width="20%" height="30%" >IIT Bombay</td>
                                    <td width="10%" height="30%" ></td>
                                     <td width="10%" height="30%" ></td>
                        
                               
                        
                        <td width="10%" height="30%" >Completed</td>
                               </tr>    

                                 </div>                             
        </table>
<br><br>

    </body>
</html>

