<style>
    #one-column-emphasis {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 12px;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
        margin: 20px;
        margin-left: 0px;
    }
    #one-column-emphasis th {
        font-size: 14px;
        font-weight: normal;
        color: #039;
        padding: 12px 15px;
        font-weight: bold;
    }
    #one-column-emphasis td {
        color: #669;
        border-top: 1px solid #e8edff;
        padding: 10px 15px;
    }
    #one-column-emphasis tr:hover td {
        color: #339;
        background: #eff2ff;
    }
    colgroup {
        display: table-column-group;
    }
</style>

{% if aakashcentres %}
<table id="one-column-emphasis">
<colgroup><col>
</colgroup>
<thead>
  <tr>
    <th>RCID</th>
    <th><strong>Centre name</th>
    <th><strong>Address</th>
    <th><strong>Coordinator</th>
    <th><strong>Coordinator contact</th>
    <th><strong>Coordinator e-mail</th>
    <!-- <td>Coordinator</td> -->
  </tr>
</thead>  
  <p class="text-info">Found {{aakashcentres|length}} centre{{aakashcentres|length|pluralize}}.</p>
  {% for ac in aakashcentres %}
  <tr>
    <td align="left">{{ac.ac_id}}</td>
    <td align="left">{{ac.name}}</td>
    <td align="left">{{ac.city}},<br \>{{ac.state}}</td>
    <td align="left">{{ac.coordinator.user.first_name}} {{ac.coordinator.user.last_name}}</td>
    <td align="left">{{ac.coordinator.contact}}</td>
    <td align="left">{{ac.coordinator.user.email}}</td>
    <!-- <td>{{ac.coordinator.id}}</td> -->
  </tr>
  {% endfor %}
</table>
{% else %}
<p class="text-muted">Sorry, nothing found.</p>
{% endif %}

