{% extends 'base.html' %}
{% load static %}

{% block body_block %}

<link href="{% static 'css/project_list.css' %}" rel="stylesheet">
<link href="{% static 'font-awesome-4.0.3/css/font-awesome.min.css' %}"
      rel="stylesheet">

<div class="container" style="padding-top:2.5cm;" align="center">
  <div class="well">
    <div class="page-header">
      <h1>All Projects<small> by Aakash Centers.</small></h1>
    </div>

    <table class="table-responsive">
      <tr>
	<td align="center">
	  <form>
      	    <input type="text" class="form-control"
		   placeholder="Search by Project name..."
      		   value="" name="suggest_project_name"
		   id="suggest_project_name">
	  </form>
	</td>
	<!-- <td>Coordinator</td> -->
      </tr>
    </table>

    <div id="cats">
      {% include 'ac/project_list.html' with projects=projects %}
    </div> <!-- cats -->
  </div>
</div>

<script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
<script src="{% static 'js/suggest.js' %}"></script>
{% endblock body_block %}
