/* base.css| for navbar */

body {
    padding:0;
    margin:0;
    border:0;
}

/* navbar color for ie browser*/
.navbar-inverse
{
background-color:#333;
}


.navbar {
    top:2%;
    margin-left:0%;
    border: 1px solid transparent;
    min-height: 60px;
    opacity:0.9;
    position:fixed;
}

.navbar-brand {
    float: left;
    padding: 8px 12px 8px 2px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-right-logo {
    position:absolute;
    top:0;
    right:0;
    /* float: right;*/
    padding-right: 10px;
    font-size: 18px;
    padding-top:2px;
    line-height: 20px;
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}

.navbar-collapse {
    max-height: 200px;   /*Old max height was 340px. This was increased to remove a scrollbar inside navbar*/
    padding-right: 15px;
    padding-left: 15px;
    width:100%;
    overflow-x: visible;
    position:relative;
    margin-left:0px;
    margin-right:0px;
    -webkit-overflow-scrolling: touch;
}

#back_to_top {
    position:fixed;

    bottom:2%;
    right:2%;
    z-index:3;
    opacity:0.5;	
}

#back_to_top:hover {
    opacity:0.9;	
}

.navbar-toggle {
    position: absolute;
    /*  float: right;*/
    right:1px;
    top:60px;
    padding: 9px 10px;
    /* margin-top: 28px;
       margin-right: 15px;
       margin-bottom: 8px;*/

    background-color: #333;
    border: 1px solid black;
    border-radius: 4px;
    z-index:3;
    opacity:0.6;
}

@media (max-width: 768px){

    #back_to_top{
	width:8%;
    }
    
    .featurette-image{
	margin-left: auto;
	margin-right: auto; 
    }

    .navbar-collapse{
	margin-right:0px;
	width:120%;
    }

    .navbar {
	margin-left:0%;
	width:100%;
    }
    

    .navbar-nav .open .dropdown-menu {
	position: static;
	float: none;
	width: auto;
	margin-top: 0;
	background-color: transparent;
	border: 0;
	box-shadow: none;
    }

.nav-right{float:left; margin-top:-10px;}

.nav-left{padding-top:25px;}

.nav-sub_container{width:100%; padding-left:0px;}

}

@media (min-width: 768px) and (max-width: 992px){

/*footer{
position:fixed;
width:100%;
bottom:0%;
}*/


/*.footer_padding{
padding-bottom:3cm;
}*/

.nav-sub_container{
width:88%; padding-left:30px;}

    .featurette-image{
	margin-left: auto;
	margin-right: auto; 
    }

    .featurette-heading {
	font-size: 25px;
    }

    .lead{
	font-size: 18px;	
    }
    #back_to_top{
	width:6%;
    }

    .navbar{
	width:96%;
	left:2%;

    }

    .navbar ul{
	font-size:11px;
	
    }

    .container{
	
    }
  .navbar-collapse .collapse{
	text-align:center;
	}
    .navbar-nav{
	margin:0 auto;
padding-left:25px;
	text-align:left;
	
	float:none;
    }
.nav-left{float:left;}

.nav-right{float:right;}
}

@media (min-width: 992px) and (max-width: 1200px){

/*footer{
position:fixed;
width:100%;
bottom:0%;
}*/


/*.footer_padding{
padding-bottom:3cm;
}*/


.nav-sub_container{
width:88%; padding-left:30px;}

    .featurette-image{
	margin-left: auto;
	margin-right: auto; 
    }

    #back_to_top{
	width:5%;
    }

    .featurette-heading {
	font-size: 35px;
    }
    
    .navbar{
	width:90%;
	left:5%;
    }

    .navbar-nav{
	margin-left:2%;
    }

 .navbar-collapse .collapse{
	text-align:center;
	}
    .navbar-nav{
	margin:0 auto;
	text-align:left;
	padding-left:25px;
	float:none;
    }
.nav-left{float:left;}

.nav-right{float:right;}
}

@media (min-width: 1200px) and (max-width:1400px){


.footer_padding{
padding-bottom:3cm;
}


footer{
position:fixed;
width:100%;
bottom:0%;
}


#mhrd img {
    margin-top:0%; /*15%*/
	width:35%;
    
}

#nmeict img {
     margin-top:0%; /*15%*/
	width:15%;
    
}

.nav-sub_container{
width:88%; padding-left:30px;}
    .featurette-image{
	margin-left: auto;
	margin-right: auto; 
    }

    .featurette-heading {
	font-size: 50px;
    }

    .navbar{
	width:89%;
	left:5.4%;
    }

    #back_to_top{
	width:4%;
    }
	
    .navbar-collapse .collapse{
	text-align:center;
	}
    .navbar-nav{
	margin:0 auto;
	text-align:left;
	padding-left:25px;
	float:none;
    }

.nav-left{float:left;}

.nav-right{float:right;}

}

@media (min-width:1400px){

footer{
position:fixed;
width:100%;
bottom:0%;
}


.footer_padding{
padding-bottom:3cm;
}


.nav-sub_container{
width:88%; padding-left:30px;}
    .featurette-image{
	margin-left: auto;
	margin-right: auto; 
    }

    .featurette-heading {
	font-size: 50px;
    }

    .navbar{
	width:89%;
	left:5.4%;
    }

    #back_to_top{
	width:4%;
    }
	
    .navbar-collapse .collapse{
	text-align:center;
	}
    .navbar-nav{
	margin:0 auto;
	text-align:left;
	padding-left:25px;
	float:none;
    }

.nav-left{float:left;}

.nav-right{float:right;}
}
footer {
    /*min-height:130px;*/
    background:#424242;
    color:#ffffff;

}

#footer-inner {
    border-bottom:1px solid #000000;
}

#social {
    position: relative;
    height: 0px; /*200px*/
    
}

#social-icons {
    margin-top:5%; /*23%*/
    text-align:center;
}



#iitb {
    padding-top:2%;
}

#social a:hover{
  text-decoration: none;
}

#social img {
  margin-left: 7px;
  width: 40px;
}

#credits {
    padding:0px 0;
}

#credits a {
    text-decoration: none;
}

.active{	
font-weight:900;
}

.nav.navbar-nav li a{
color:#999;
}

.nav.navbar-nav li a:hover{
color:#FFF;
}

a{
color:rgb(52, 152, 219);
}

a:hover{
color:rgb(52, 200, 255);
}

@media (max-width: 768px) {

.pull-left,.pull-right{
font-size:12px;
}

#mhrd{
height:2%;
}

#nmeict{
height:1%;
}

#mhrd img {
    margin-top:0%; /*15%*/
	width:15%;
    
}

#nmeict img {
     margin-top:10%; /*15%*/
    width:5%;
}	
}

@media (min-width: 768px) and (max-width:992px) {

.pull-left,.pull-right{
font-size:12px;
}

#mhrd{
height:2%;
}

#nmeict{
height:1%;
}

#mhrd img {
    margin-top:0%; /*15%*/
	width:15%;
    
}

#nmeict img {
     margin-top:10%; /*15%*/
    width:5%;
}		
}

@media (min-width: 992px) and (max-width:1200px) {

.pull-left,.pull-right{
font-size:12px;
}

#mhrd{
height:2%;
}

#nmeict{
height:1%;
}

#mhrd img {
    margin-top:0%; /*15%*/
	width:15%;
    
}

#nmeict img {
     margin-top:10%; /*15%*/
    width:5%;
}	
}


@media (min-width: 1200px) and (max-width:1400px) {

footer{
height:95px;
}

.pull-left,.pull-right{
font-size:12px;
}

#mhrd img {
    margin-top:0%; /*15%*/
	width:30%;
    
}

#nmeict img {
     margin-top:0%; /*15%*/
	width:10%;
    
}	
}

@media (min-width: 1400px) {

footer{
height:95px;
}

.pull-left,.pull-right{
font-size:12px;
}

#mhrd img {
    margin-top:0%; /*15%*/
	width:30%;
    
}

#nmeict img {
     margin-top:0%; /*15%*/
	width:10%;
    
}	
}


