@media (max-width: 468px) {
.news{

	height:80px;
}

.col-md-9{
height:500px;
}
.col-md-12{


}	
}

@media (min-width: 468px) and (max-width:768px) {
.news{

	height:80px;
}

.col-md-9{
height:500px;
}
.col-md-12{


} 
}


@media (min-width: 768px) and (max-width:992px) {

.col-md-9{
height:500px;
}
}

@media (min-width: 992px) and (max-width:1200px) {

.col-md-9,.col-md-3,.col-md-3 > .well{
	height:100%;
}

.container_content{
height:370px;
}

}

@media (min-width: 1200px) and (max-width:1400px){
.col-md-9,.col-md-3,.col-md-3 > .well{
	height:100%;
}

.container_content{
height:380px; /* 370*/
}
}

@media (min-width: 1400px) and (max-width:1680px) {

.col-md-9,.col-md-3,.col-md-3 > .well{
	height:100%;
}

.container_content{
height:490px;
}

}

@media (min-width: 1680px){
.col-md-9,.col-md-3,.col-md-3 > .well{
	height:100%;
}

.container_content{
height:635px; 

}
}

@media (min-width: 992px) and (max-width:1200px){

.col-md-9,.col-md-3,.col-md-3 > .well{
	height:100%;

}
.container_content{
height:370px;

}
} 


.container_content, .index{
padding-left:0px;
padding-right:0px;

}

.news > .col-sm-2{
width:auto;
}



