{% extends 'base.html' %}
{% load static %}

{% block title %}
- Activites
{% endblock title %}

{% block body_block %}
<div class="container" style="padding-top:2.5cm;">
 <div class="page-header">
      <h1> Activities <small>@ IITB</small>
      </h1>
  </div>
 <p  class="lead" align="justify" style="font-size:18px;"><strong>Aakash Project</strong> at <strong>IIT Bombay</strong> was started under the guidance of <strong>Prof. D.B. Phatak</strong> and <strong>Prof. Kannan M Moudgalya</strong> . The objective of Aakash Project is the development of Educational applications and contents for use with Aakash tablet.
</br></br>
We have these squads to brace Aakash project in disparate activities:

</p>

<hr class="featurette-divider" style="margin:20px;">
    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
	<!-- <h3 class="text-muted" align="center">Some of our featured projects</h3> -->
	
	<div class="col-sm-3 ">
	<a href="http://www.it.iitb.ac.in/aakashtechsupport/" target="_blank" ><img class="img-rounded well well-sm" src="{% static 'images/tech_support.png' %}" alt="Tech support"></a>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-3">
        <a href="http://www.spoken-tutorial.org" target="_blank"> <img class="img-rounded well well-sm" src="{% static 'images/spoken.png' %}" alt="Spoken Tutorials"></a>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-3">
         <a href="http://www.it.iitb.ac.in/aakashtechsupport" target="_blank"><img class="img-rounded well well-sm" src="{% static 'images/tech_support.png' %}" alt="Tech support"></a>
        </div><!-- /.col-lg-4 -->
<div class="col-sm-3">
        <a href="http://www.it.iitb.ac.in/aakash2" target="_blank"> <img class="img-rounded well well-sm" src="{% static 'images/logistics.png' %}" alt="Aakash logistics logo"></a>
        </div><!-- /.col-lg-4 -->


	<!-- <div class="col-lg-4"> -->
        <!--   <img class="img-circle" src="{% static 'images/garland_logo.png' %}" alt="CFD logo"> -->
        <!--   <h2>CFD</h2> -->
        <!--   <p>he CFD team at FOSEE, IIT Bombay promotes the use of -->
        <!--   OpenFOAM (Open source Field Operation and Manipulation) as -->
        <!--   being popular and easily available.</p> -->
        <!--   <p><a class="btn btn-default" href="http://cfd.fossee.in/" -->
        <!--   role="button">View cfd.fossee.in &raquo;</a></p> -->
        <!-- </div><\!-- /.col-lg-4 -\-> -->
      </div><!-- /.row -->

<div class="row" >
	
	<div class="col-sm-3" >
         <a href="http://www.it.iitb.ac.in/clicker/" target="_blank" ><img class="img-rounded well well-sm"   src="{% static 'images/clicker1.png' %}" alt="Clicker logo"></a>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-3">
        <a href="http://www.it.iitb.ac.in/anides/" target="_blank" > <img class="img-rounded well well-sm"  src="{% static 'images/design_team.png' %}" alt="Design team logo"></a>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-3">
         <a href="http://oscad.in/" target="_blank"><img class="img-rounded well well-sm" src="{% static 'images/oscad.png' %}" alt="oscad logo"></a>
        </div><!-- /.col-lg-4 -->
<div class="col-sm-3">
        <a href="http://www.it.iitb.ac.in/aakash2" target="_blank"> <img class="img-rounded well well-sm" src="{% static 'images/logistics.png' %}" alt="Aakash logistics logo"></a>
        </div><!-- /.col-lg-4 -->

      </div><!-- /.row -->

<div class="row">
	<!-- <h3 class="text-muted" align="center">Some of our featured projects</h3> -->
	
	<div class="col-sm-3">
	<a href="http://www.it.iitb.ac.in/aakashlab/" target="_blank" ><img class="img-rounded well well-sm" width="250" height="80" src="{% static 'images/logo1.png' %}" alt="Aakash Lab">
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-3">
        <a href="http://www.spoken-tutorial.org" target="_blank"> <img class="img-rounded well well-sm" width="250" height="80" src="{% static 'images/spoken.png' %}" alt="Spoken Tutorials"></a>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-3">
         <a href="http://oscar.iitb.ac.in/oscarHome.do" target="_blank"><img class="img-rounded well well-sm" width="250" height="80" src="{% static 'images/oscar_logo.gif' %}" alt="Project OSCAR"></a>
        </div><!-- /.col-lg-4 -->
<div class="col-sm-3">
         <a href="http://scilab.in/" target="_blank"><img class="img-rounded well well-sm" width="250" height="80" src="{% static 'images/scilab.png' %}" alt="Scilab"></a>
        </div><!-- /.col-lg-4 -->


      </div><!-- /.row -->
</div>
</div>
{% endblock body_block %}
