<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Official site for Aakash tablet - a low cost access device.">
    <meta name="author" content="iitb">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

    <title>Aakashlabs</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/about.css' %}" rel="stylesheet">
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome-4.0.3/css/font-awesome.min.css' %}"
	  rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


	
  </head>
<!-- NAVBAR
================================================== -->
  <body>  
    <a href="#" style=""><img src="{% static 'images/back-to-top.png' %}" id="back_to_top" title="Back to top" ></a>
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="{% static 'images/Aakash_logo.png' %}" alt="Aakash logo" width="80px" style="padding-left:5px;"></a>
              <a class="navbar-right-logo" href="/"><img src="{% static 'images/iitb_logo_white.png' %}" alt="IITB logo" width="55px"></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class=""><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
		<li><a href="/ac/">Aakash Centres</a></li>
		<li><a href="/ac/projects/">Projects</a></li>
		<li><a href="/ac/iitb/">IITB</a></li>
		<li><a href="/faqs/">FAQs</a></li>
                <!-- <li class="dropdown"> -->
                <!--   <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a> -->
                <!--   <ul class="dropdown-menu"> -->
                <!--     <li><a href="/faqs/">FAQs</a></li> -->
                <!--     <li><a href="#">Something else here</a></li> -->
                <!--     <li class="divider"></li> -->
                <!--     <li class="dropdown-header">Nav header</li> -->
                <!--     <li><a href="#">Separated link</a></li> -->
                <!--     <li><a href="#">One more separated link</a></li> -->
                <!--   </ul> -->
                <!-- </li> -->
		<li><a href="/contact/">Contact Us</a></li>
		{% if user.is_authenticated %}
		<li><a href="#">Profile</a></li>
		<li><a href="/logout/">Logout</a></li>
		{% else %}
		<!-- <li><a href="/ac/register/">Register</a></li> -->
		<li><a href="/login/">Login</a></li>
		{% endif %}
              </ul>

	      <!-- <ul class="nav navbar-nav navbar-right"> -->
		<!-- <li><a href="/contact/">Contact Us</a></li> -->
		<!-- <li><a href="#">Register</a></li> -->
		<!-- <li><a href="#">Login</a></li> -->
              <!-- </ul> -->
            </div>
          </div>
        </div>

      </div>
    </div>


  {% block body_block %}
    {% endblock body_block %} 
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
	<h3 class="text-muted" align="center">Some of our featured projects</h3>
	<br/>
	<div class="col-lg-4">
          <img class="img-circle" src="{% static 'images/st-logo.png' %}" alt="Spoken tutorial logo">
          <h2>Spoken Tutorial</h2>
          <p>Screen-casts that will help you to learn and use open
          source software.</p>
          <p><a class="btn btn-info"
          href="http://www.spoken-tutorial.org" role="button">Visit
          Site &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'images/scilab_logo.png' %}" alt="Scilab logo">
          <h2>Scilab</h2>
          <p>Scilab software, stemming from Inria, France. source
          reference in numerical computation software.</p>
          <p><a class="btn btn-info" href="http://scilab.in/"
          role="button">Visit Site &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'images/oscad-logo.png' %}" alt="Oscad logo">
          <h2>Oscad</h2>
          <p>Oscad is an open source EDA tool for circuit design,
          simulation, analysis and PCB design.</p>
          <p><a class="btn btn-info" href="http://oscad.in/"
          role="button">Visit Site &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

	<!-- <div class="col-lg-4"> -->
        <!--   <img class="img-circle" src="{% static 'images/garland_logo.png' %}" alt="CFD logo"> -->
        <!--   <h2>CFD</h2> -->
        <!--   <p>he CFD team at FOSEE, IIT Bombay promotes the use of -->
        <!--   OpenFOAM (Open source Field Operation and Manipulation) as -->
        <!--   being popular and easily available.</p> -->
        <!--   <p><a class="btn btn-default" href="http://cfd.fossee.in/" -->
        <!--   role="button">View cfd.fossee.in &raquo;</a></p> -->
        <!-- </div><\!-- /.col-lg-4 -\-> -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Clicker</h2>
          <p class="lead" align="justify">Clicker software is a
          student response system in which the instructor can make
          presentations, launch a quiz, conduct live polls, and
          generate results on bar graph. Using this system, students
          can write exams, ask questions, and view results
          instantly.  </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="{% static 'images/clicker.png' %}" alt="Clicker">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="{% static 'images/apl.png' %}" alt="Aakash Programming Lab">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Aakash Programming Lab</h2>
          <p class="lead" align="justify">Provides programming
          environment for C, C++, Python, and Scilab on the tablet. It
          allows the users to write, open, save, compile, and execute
          programs of C, C++, python, and scilab. The program when
          executed generates and displays the output.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">proxyMITY </h2>
          <p class="lead" align="justify">proxyMITY helps users to get access to
          quality lectures of reputed teachers, anytime and
          anywhere. proxyMITY has two versions : sd-card version and
          Wi-Fi version. Lectures stored on a sd-card or on a local
          server can be viewed respectively with these versions. Other
          than viewing the lectures, contents of the lecture can be
          traversed with the Tree functionality, a particular part of
          the lecture can be tagged for future reference with Bookmard
          functionality, Transcripts of the lecture can be viewed
          along with the video.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="{% static 'images/proxymity.png' %}" alt="proxyMITY">
        </div>
      </div>

      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->

      <div class="row">
	<div class="col-lg-4">
	  <a style="text-decoration:none;"
	     href="http://aakashlabs.org/documentation">
	    <h3 class="lead">Docs</h3>
	  </a>
	</div><!-- /.col-lg-4 -->

	<div class="col-lg-4">
	  <a style="text-decoration:none;" href="/compete/"><h3 class="lead">Compete</h3></a>
	</div><!-- /.col-lg-4 -->

	<div class="col-lg-4">
	  <a style="text-decoration:none;" data-toggle="modal"
	     data-target="#news" href="#"><h3 class="lead">News</h3></a>

	  <!-- Modal -->
	  <div class="modal fade" id="news" tabindex="-1" role="dialog"
	       aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	      <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal"
			  aria-hidden="true">&times;</button>
		  <h4 class="modal-title" id="myModalLabel">News</h4>
		</div>
		<div class="modal-body">
		  Nothing new. Keep looking here.
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-primary"
			  data-dismiss="modal">Close</button>
		</div>
	      </div><!-- /.modal-content -->
	    </div><!-- /.modal-dialog -->
	  </div><!-- /.modal -->
	</div><!-- /.col-lg-4 -->
      </div>
      
      <!-- FOOTER -->
    </div><!-- /.container -->
    <footer>
      <div id="footer-inner" class="container">
      <div class="col-lg-4" align="center" id="mhrd">
        <a href="http://mhrd.gov.in/">
          <img src="{% static 'images/mhrd-logo.png' %}" alt="mhrd-logo">
        </a>
      </div>
      <div class="col-lg-4" id="iitb" >
        <center>
	  <a href="http://iitb.ac.in/">
          <img src="{% static 'images/iitb-logo.gif' %}" alt="iitb-logo">
	  </a>
        </center>
        <p align="justify">
          The Indian Institute of Technology Bombay is a public
          engineering institution located in Powai, Mumbai, India. It
          has been ranked among the top engineering colleges in
          India. 
        </p>
      </div>

      <div class="col-lg-4" id="social">
	<div id="social-icons">
        <a href="#">
          <img src="{% static 'images/twitter.png' %}" alt="twitter">
        </a>
        <a href="https://github.com/androportal">
          <img src="{% static 'images/github-white.png' %}" alt="github">
        </a>
        <a href="#">
          <img src="{% static 'images/googleplus.png' %}" alt="googleplus">
        </a>
        <a href="#">
          <img src="{% static 'images/facebook.png' %}" alt="facebook">
        </a>
        <a href="http://www.youtube.com/user/theaakashtablet">
          <img src="{% static 'images/youtube.png' %}" alt="youtube">
        </a>
	</div>
      </div>

      </div> <!-- container -->
      
      <div class="container" id="credits">
      	<div class="pull-left"> &copy; 2013 IIT Bombay.</div>
        <div class="pull-right"><a href="#">Privacy</a> &middot; <a href="#">Terms</a></div>
      </div>
      
    </footer>
    <!-- END OF FOOTER -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    
  </body>    
</html>
