{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<div class="container" style="padding-top:2.5cm;">
  <div class="page-header">
      <h1><i class="fa fa-shield"></i> Aakash<small> Competitions</small>
      </h1>
  </div>

		  <p>List* of students awarded certificate for Aakash
		  Software Development competition, organized by Indian
		  Institute of Technology Bombay between 5 May 2013 to
		  15 August 2013.</p>
		  <table class="table table-responsive table-bordered table-hover table-striped">
		    <tr>
		      <td><strong>Sr. No.</strong></td>
		      <td><strong>Name</strong></td>
		      <td><strong>Certificate Code</strong></td>
		    </tr>
		    <tr><td >1</td><td >Alok Joshi</td><td >AA2013391</td></tr>
		    <tr><td >2</td><td >Deep Shah</td><td >AA20131091</td></tr>
		    <tr><td >3</td><td >Dharmendra Hingu</td><td >AA20131093</td></tr>
		    <tr><td >4</td><td >Dildarkhan Pathan</td><td >AA20131141</td></tr>
		    <tr><td >5</td><td >Godly Alias</td><td >AA2013991</td></tr>
		    <tr><td >6</td><td >Harsh Kevadia</td><td >AA201343</td></tr>
		    <tr><td >7</td><td >Jitendra Jain</td><td >AA20131092</td></tr>
		    <tr><td >8</td><td >John John</td><td >AA2013992</td></tr>
		    <tr><td >9</td><td >M Prakash</td><td >AA2013913</td></tr>
		    <tr><td >10</td><td >Piyush Patel</td><td >AA201344</td></tr>
		    <tr><td >11</td><td >Prathamesh Karve</td><td >AA2013392</td></tr>
		    <tr><td >12</td><td >Pratik Nalawade</td><td >AA2013393</td></tr>
		    <tr><td >13</td><td >Rahul Dadoriya</td><td >AA2013381</td></tr>
		    <tr><td >14</td><td >Rahul Kalkani</td><td >AA201342</td></tr>
		    <tr><td >15</td><td >Roneet Shaw</td><td >AA2013491</td></tr>
		    <tr><td >16</td><td >Saurabh Singh</td><td >AA2013382</td></tr>
		    <tr><td >17</td><td >U V Swathi</td><td >AA2013912</td></tr>
		    <tr><td >18</td><td >Vipin Yadav</td><td >AA2013383</td></tr>
		    <tr><td >19</td><td >Vishal Bhingaradiya</td><td >AA201341</td></tr>
		    <tr><td >20</td><td >V J Shamily</td><td >AA2013911</td></tr>
		    </table>

		  <strong>About the certificate</strong>

		  <p>Each certificate has a unique QR-code for
		  verification. The QR-code contains Student's name,
		  Certificate Code and link to <strong>this</strong> page. </p>
		  
		  *If you have any queries regarding this list please
		  post it
		  on <a href="https://groups.google.com/d/forum/aakashlabs/view">Google-group</a>.
		</div>  
</div>
{% endblock body_block %}
