{% extends 'base.html' %}
{% load static %}

{% block title %}
-  Compete
{% endblock title %}

{% block body_block %}
<div class="container  " style="padding-top:2.5cm;">
<div class="page-header">
      <h1><i class="fa fa-shield"></i> Aakash<small> Competitions</small>
      </h1>
  </div>
</div>



<div class="container footer_padding">	
<div class="layer">

<div class="panel-group" id="accordion">


  <div class="panel">
    <div >
      <h4 >
        <a id="toggler" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
             Ron Mehta Aakash contest</a> 
        
      </h4>
    </div>

    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body well">
    <p align ="justify"> Mr. Ruyintan (Ron) Mehta, is an alumnus of IITB (B Tech Chemical 1970). He was very
impressed with the work done by IIT Bombay on Aakash and other national mission projects.
He wanted to encourage more direct contribution from our students in these efforts. Towards
this goal he donated an amount of US$2500, to be used as prize money for a contest, exclusively
for current IIT Bombay students at all levels. The contest is to develop innovative applications
on Aakash.</br></br>
It is a team contest. A team can consist of minimum 2, and maximum 4 students. Although
not mandatory, it is strongly suggested that the composition of teams should have an interdis-
ciplinary avour. One of the team members will be the team leader who will be responsible for
timely submissions as per the contest schedule. Aakash project will arrange for special training
sessions on Android programming, for all participants. In consonance with the spirit of the
national mission, all applications submitted for the contest, will be released in open source,
under a creative commons license.
</br></br>

The awards will be graded by a committee for 1st, 2nd and 3rd prize, for the three (3) best
applications for the Aakash-2 tablet. The prize money is the equivalent rupee amounts of $1,250
for 1st prize, $750 for 2nd prize, and $500 for 3rd prize. The prizes are named Ruyintan and
Monica Mehta Aakash tablet Application Development Prizes. The Aakash project will give a
certificate of participation to each student, and special certificates to winners.
</br></br>
 Last date of submission of the developed applications, is extended to 10th February 2014.
 </br>
It is believed that this contest will provide a unique opportunity for students of IIT Bombay, to
display their creative talent, besides contributing to open source knowledge pool.
</p>
	
      </div>
    </div>
  </div>



  <div class="panel">
    <div>
      <h4 >
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          IITB-IEEE Aakash Challenge</a> 
        
      </h4>
    </div>


    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body well">
<p align ="justify">      Institution of Electrical and Electronics Engineers(IEEE) is a globally reputed professional
organization, with activities in all mahor countries of the world. Its past president Prof. Michael
Lightner is currently the VP in-charge of educational activities. During his visit to India last
year, Shri. Ashok Thakur, Secretary(HE), suggested him for a meeting with NME-ICT project
leaders at IIT Bombay, with a possibility of engagement with Indian efforts in using technology
for higher education.</br></br>
At Prof. Lightners invitation, IIT Bombay participated in the IEEE students' congress
of Region 10, held recently on July 11 to 14 in Hyderabad. Student leaders from over 26
countries in the Asia Pacific region participated in the event. An `Aakash Challenge' was jointly
announced by IIT Bombay and IEEE. About 160 tablets were distributed to students leaders
from all countries, including India. The contest registration form and details are enclosed. Apart
from the prize money, IEEE has also offered the winning students fully paid participation in
one of the global IEEE student events</p>
      </div>
    </div>
  </div>



<div class="panel">
    <div >
      <h4>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Android Application Development Contest for Aakash Tablet</a> 
      </h4>
    </div>

    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body well">
      <p align ="justify">In the Android workshop, we introduced the Aakash tablet, studied how an application is
developed in Android environment, and briefly saw the demonstration of some useful applications and content developed at IIT Bombay, for Aakash-2.</br> We wish to develop a collaborative
community of Open Source developers who will create Android applications and educational
content for the Aakash Tablet, in order to maximize effective learning using Aakash tablets.
</br>This competition is targeted only for participants of the workshop conducted on 22, 23 February
and 2, 3 March 2013.</br>
These participants must have
	<ol>
	<li>Attended the full workshop</li>
	<li>Given the online evaluation quiz</li>
	<li>Must have submitted the feedback form</li>
	</ol>

List of top 4 projects overall for the contest of Aakash Android Application Programming Workshop for Students 2013 organized by Indian
 Institute of Technology Bombay.</p>
</br>
      <table class="table table-responsive table-bordered table-hover table-striped">

        <tr>
          <td><strong>Sr. No.</strong></td>
          <td><strong>Project Leader Name</strong></td>
          <td><strong>College Name</strong></td>
          <td><strong>Project Name</strong></td>
        </tr>
        <tr><td >1</td><td >Godly .T. Alias</td><td >National Institute Of Technology, Calicut</td><td>GTAcampus</td></tr>
        <tr><td >2</td><td >Roneet kumar shaw</td><td>Techno India, Salt Lake Kolkata</td><td>DataStructure</td></tr>
        <tr><td >3</td><td >Nikhil Bhirud</td><td >Dr. D.Y. Patil Institute Of Engineering & Technology, Pimpri</td><td>Do U Know?</td></tr>
        <tr><td >4</td><td >Jigar Mehta</td><td >K. J. Somaiya College Of Engineering, Vidyavihar,Mumbai</td><td>SmartKIds</td></tr>
        </table>

</p>
      </div>
    </div>
  </div>




  <div class="panel">
    <div>
      <h4 >
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
       Software Development Competition on Aakash Tablet</a>    
      </h4>
    </div>

    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body well">

      <p align="justify"> The competition was announced in December 2012. We received 192 project proposals by
25 April 2013, out of which, 149 projects were selected. 36 final projects were submitted by
participants on 15 July 2013. 
</br>
</br>
 List* of students awarded certificate for Aakash
                 Software Development competition, organized by Indian
                 Institute of Technology Bombay between 5 May 2013 to
                 15 August 2013.</p>
                 <table class="table table-responsive table-bordered table-hover table-striped">
                 <tr>
                 <td><strong>Sr. No.</strong></td>
                 <td><strong>Name</strong></td>
                 <td><strong>Certificate Code</strong></td>
                 </tr>
                 <tr><td >1</td><td >Alok Joshi</td><td >AA2013391</td></tr>
                 <tr><td >2</td><td >Deep Shah</td><td >AA20131091</td></tr>
                 <tr><td >3</td><td >Dharmendra Hingu</td><td >AA20131093</td></tr>
                 <tr><td >4</td><td >Dildarkhan Pathan</td><td >AA20131141</td></tr>
                 <tr><td >5</td><td >Godly Alias</td><td >AA2013991</td></tr>
                 <tr><td >6</td><td >Harsh Kevadia</td><td >AA201343</td></tr>
                 <tr><td >7</td><td >Jitendra Jain</td><td >AA20131092</td></tr>
                 <tr><td >8</td><td >John John</td><td >AA2013992</td></tr>
                 <tr><td >9</td><td >M Prakash</td><td >AA2013913</td></tr>
                 <tr><td >10</td><td >Piyush Patel</td><td >AA201344</td></tr>
                 <tr><td >11</td><td >Prathamesh Karve</td><td >AA2013392</td></tr>
                 <tr><td >12</td><td >Pratik Nalawade</td><td >AA2013393</td></tr>
                 <tr><td >13</td><td >Rahul Dadoriya</td><td >AA2013381</td></tr>
                 <tr><td >14</td><td >Rahul Kalkani</td><td >AA201342</td></tr>
                 <tr><td >15</td><td >Roneet Shaw</td><td >AA2013491</td></tr>
                 <tr><td >16</td><td >Saurabh Singh</td><td >AA2013382</td></tr>
                 <tr><td >17</td><td >U V Swathi</td><td >AA2013912</td></tr>
                 <tr><td >18</td><td >Vipin Yadav</td><td >AA2013383</td></tr>
                 <tr><td >19</td><td >Vishal Bhingaradiya</td><td >AA201341</td></tr>
                 <tr><td >20</td><td >V J Shamily</td><td >AA2013911</td></tr>
                 </table>

                 <strong>About the certificate</strong>

                 <p>Each certificate has a unique QR-code for
                 verification. The QR-code contains Student's name,
                 Certificate Code and link to <strong>this</strong> page. </p>
                
                 *If you have any queries regarding this list please
                 post it
                 on <a href="https://groups.google.com/d/forum/aakashlabs/view">Google-group</a>.
</p>
      </div>
    </div>
  </div>
 

  </div>
</div>

</div>
</div>



{% endblock body_block %}
