{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<div class="container" style="padding-top:2.5cm;">
  <div class="row">

    <div class="col-lg-6 well">
      <h2><span class="glyphicon glyphicon-pencil"></span> Contact us </h2>
      <p class="text-muted"> We’re here to help with any
      questions or comments. Your question may be already answers in
      our <a href="/faqs/">FAQs</a> section.</p>
      <form role="form" id="contact-us" method="post"
	    enctype="multipart/form-data">
	{% csrf_token %}
	<!-- {{contactform.as_p}} -->
	<!-- Success/Error messages -->
	{% if messages %}
	{% for message in messages %}
	{% if message.tags == "success" %}
	<p class="text-info" align="center"><strong>{{ message }}</strong></p>
	{% else %}
	<p class="text-danger" align="center"><strong>{{ message }}</strong></p>
	{% endif %}
	{% endfor %}
	{% endif %} 
	<!-- Success/Error messages ends here -->
        <div class="form-group">
	  <!-- {{contactform.name.errors}} -->
          <label for="id_name">Name</label>
	  {{contactform.name}}
        </div>

        <div class="form-group">
	  <!-- {{contactform.email.errors}} -->
          <label for="id_email">Email</label>
	  {{contactform.email}}
        </div>
        
        <div class="form-group">
	  <!-- {{contactform.message.errors}} -->
          <label for="id_message">Message</label>
	  {{contactform.message}}
        </div>

        <input type="submit" name="submit" class="btn btn-primary"
	       value="Submit" />
        <a href="/contact/" class="btn btn-info">Reset</a>

      </form>
    </div>
    
    
    <div class="col-lg-6" align="center">
      <br><br><br><br><br><br>
      <span class="glyphicon glyphicon-home"></span>
      <address>
        <strong>Aakash Lab</strong><br>
        Second Floor, Old CSE Building,<br>
        Indian Institute of Technology Bombay<br>
	Powai, Mumbai 400076,<br>
	Maharashtra, India.<br>
      </address>

      <address>
	<span class="glyphicon glyphicon-phone-alt"></span>
        (+91) (022) 25764708
      </address>    

      <address>
	<span class="glyphicon glyphicon-envelope"></span>
        <a href="mailto:aakashtechsupport@cse.iitb.ac.in">aakashtechsupport@cse.iitb.ac.in</a>
      </address>      
    </div>
    
  </div> <!-- row -->
</div><!-- /.container -->
{% endblock body_block %}

