{% extends 'base.html' %}
{% load static %}

{% block title %}
-  AADL
{% endblock title %}

{% block body_block %}
<div class="container footer_padding" style="padding-top:2.5cm;">
 <div class="page-header">
      <h1> Activities <small>@ AADL</small>
      </h1>
  </div>
 <p class="lead" align="justify" style="font-size:18px;">In August 2012, <strong>Prof. Jhunjhunwala</strong> established <strong>Aakash Application Development Labs (AADL)</strong> in several sister IITs.</br> They have also carried out substantial development work at 5 IITs. We had asked all our 300 <strong>Aakash Project Centers(APCs)</strong> to offer development of projects on Aakash.</br></br> These APCs have begun doing that task. We have already received details from many colleges which have started work on Aakash projects.
</br>

In the coming academic year, it is expected that each of the participating APC will teach a course using Aakash Tab. </p>

<hr class="featurette-divider" style="margin:20px;">
    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
	<!-- <h3 class="text-muted" align="center">Some of our featured projects</h3> -->
	
	<div class="col-sm-3 ">
	<a href="http://www.iitg.ernet.in/cseweb/aakashlab/" target="_blank" ><img class="img-rounded well well-sm" src="{% static 'images/iitg.png' %}" alt="IIT Guwahati"></a>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-3">
        <a href="http://cse.iitkgp.ac.in/conf/waadat/" target="_blank"> <img class="img-rounded well well-sm" src="{% static 'images/iitkgp.png' %}" alt="IIT Kharagpur"></a>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-3">
         <a href="http://www.iitmandi.ac.in/friendsofiitmandi/read.php?1,91,91" target="_blank"><img class="img-rounded well well-sm" src="{% static 'images/iitmandi.png' %}" alt="IIT Mandi"></a>
        </div><!-- /.col-lg-4 -->
<div class="col-sm-3">
         <a href="http://www.ee.iitm.ac.in/~ee09b044/projects.html#android" target="_blank"><img class="img-rounded well well-sm" src="{% static 'images/iitm.png' %}" alt="IIT Madras"></a>
        </div><!-- /.col-lg-4 -->

      </div><!-- /.row -->

<div class="row" >
	
	<div class="col-sm-3" >
         <a href="http://www.iitk.ac.in/" target="_blank" ><img class="img-rounded well well-sm"   src="{% static 'images/iitk.png' %}" alt="IIT Kanpur"></a>
        </div><!-- /.col-lg-4 -->
 <div class="col-sm-3">
        <a href="http://cse.iitkgp.ac.in/conf/waadat/" target="_blank"> <img class="img-rounded well well-sm" src="{% static 'images/iitd.png' %}" alt="IIT Delhi"></a>
     
        </div><!-- /.col-lg-4 -->

      </div><!-- /.row -->

</div>
</div>
{% endblock body_block %}
