{% extends 'base.html' %}
{% load static %}

{% block title %}
- Terms & Privacy
{% endblock title %}

{% block body_block %}
<div class="container footer_padding" style="padding-top:2.5cm;">
  <div class="page-header">
      <h1><i class="fa fa-lock"></i> Terms & Privacy
      </h1>
  </div>
  <div class="">
  <h4> 1. Accessibility Statement:</h4>

<p align="justify">We are committed to ensure that the website of IIT-Bombay, Aakash Team is accessible to all
users irrespective of device in use, technology or ability. It has been built, with an aim, to provide 
maximum accessibility and usability to its visitors. As a result, this website can be viewed from 
a variety of devices, such as web-enabled mobile devices, wap phones, PDAs, and so on. We 
have put in our best efforts to ensure that all information on this website is accessible to people 
with disabilities.</br> For example, a user with visual disability can access this website using assistive
technologies, such as screen readers and magnifiers. We also aim to be standards compliant and 
follow principles of usability and universal design, which should help all visitors of this Portal. 
This website is designed using HTML 1.0 Transitional and meets priority 2 (level AA) of the Web 
Content Accessibility Guidelines (WCAG) 2.0 laid down by the World Wide Web Consortium 
(W3C). Part of the information in the Portal is also made available through links to external Web 
sites. External Web sites are maintained by the respective departments who are responsible for 
making these sites accessible.</p>
</br>
<h4>2. Terms of Use:</h4>

 <h4>Disclaimer</h4>
<p align="justify">
This Portal is designed, developed and hosted by IIT Bombay, Aakash Team, Government of India.

Though all efforts have been made to ensure the accuracy and currency of the content on this Portal, 

the same should not be construed as a statement of law or used for any legal purposes. In no event 

will the Government or IIT-Bombay, Aakash be liable for any expense, loss or damage including, 

without limitation, indirect or consequential loss or damage, or any expense, loss or damage 

whatsoever arising from use, or loss of use, of data, arising out of or in connection with the use of 

this Portal. Links to other websites that have been included on this Portal are provided for public 

convenience only.

Material featured on this Portal may be reproduced free of charge after taking proper permission by 

sending a mail to us. However, the material has to be reproduced accurately and not to be used in a 

derogatory manner or in a misleading context. Wherever the material is being published or issued 

to others, the source must be prominently acknowledged. However, the permission to reproduce 

this material shall not extend to any material which is identified as being copyright of a third party. 

Authorisation to reproduce such material must be obtained from the departments/copyright holders 

concerned.

These terms and conditions shall be governed by and construed in accordance with the Indian Laws. 

Any dispute arising under these terms and conditions shall be subject to the exclusive jurisdiction of 

the courts of India.</p></br>

 <h4>Privacy Policy</h4>

<p align="justify">IIT -Bombay, Aakash Portal does not automatically capture any specific personal information from 

you, (like name, phone number or e-mail address), that allows us to identify you individually.

If the IIT-Bombay, Aakash Portal requests you to provide personal information, you will be 

informed for the particular purposes for which the information is gathered and adequate security 

measures will be taken to protect your personal information.

We do not sell or share any personally identifiable information volunteered on the India Portal site 

to any third party (public/private). Any information provided to this Portal will be protected from 

loss, misuse, unauthorized access or disclosure, alteration, or destruction.</p>
</br>

<h4>3. Hyperlinking Policy :</h4>

<p align="justify">Links to external websites/portals

At many places in this Portal, you shall find links to other websites/portals. This links have been 

placed for your convenience. IIT-BOMBAY, Aakash is not responsible for the contents and 

reliability of the linked websites and does not necessarily endorse the views expressed in them. 

Mere presence of the link or its listing on this Portal should not be assumed as endorsement of 

any kind. We can not guarantee that these links will work all the time and we have no control over 

availability of linked pages.

Links to NKN Portal by other websites

We do not object to you linking directly to the information that is hosted on this Portal and no prior 

permission is required for the same. However, we would like you to inform us about any links 

provided to this Portal so that you can be informed of any changes or updations therein. Also, we do 

not permit our pages to be loaded into frames on your site. The pages belonging to this Portal must 

load into a newly opened browser window of the User.</p></br>

<h4>4. Copyright Policy :</h4>

<p align="justify">The contents of this website may not be reproduced partially or fully, without due permission 

from IIT-Bombay, Aakash team. If referred to as a part of another publication, the source must be 

appropriately acknowledged. The contents of this website can not be used in any misleading or 

objectionable context. The contents of this website may not be reproduced partially or fully, without 

due permission from IIT-Bombay, Aakash team. If referred to as a part of another publication, the 

source must be appropriately acknowledged.
</p>
</br>
<strong>Creative Commons Attribution 3.0 (CC BY 3.0), India.</strong>


  </div>
</br>
</div>
{% endblock body_block %}
