{% extends 'base.html' %}
{% load static %}

{% block title %}
-  Tutorials
{% endblock title %}

{% block body_block %}
<div class="container footer_padding" style="padding-top:2.5cm;">
	<div>
		<div>
			<div >
				<h2>Site Map</h2>
			</div>		
			<div class="container">				
				<div>
					<div>
						<div>
   							<div >
      								<div class="col-sm-4"><h4>Main Menu</h4>
									<div>
									  <ul>
									      <li><a href="/">Aakash Lab</a></li>
									      <li><a href="/">Home</a></li>
									      <li>
										Aakash Projects
										 <ul>
										     <li><a href="/ac/projects/">All Projects</a></li>
                                                                                     <li><a href="/ac/iitb/">IITB Projects</a></li>
										     <li><a href="/gnu/">GNU/Linux on Aakash</a></li>
									         </ul>
									      </li>
									      <li>Activities @ IITB
										 <ul>
									             <li><a href="/activities/">IITB</a></li>
									             <li><a href="/others/">AADL</a></li><!-- Others -->
									         </ul>
									      </li>
									      <li><a href="/faqs/">FAQs</a></li>
									      <li>More</li>
										<ul> <li><a href="/ac/">Aakash Centers</a></li>
									             <li><a href="http://docs.aakashlabs.org">Docs</a></li>
									             <li><a href="/pubs/">Articles &amp; Publication</a></li>
										     <li><a href="/tutorials/">Tutorials</a></li>
										     <li><a href="/compete/">Compete</a></li>
									            <!-- <li><a href="">News</a></li>-->
									         </ul>
									      <li><a href="/contact/">Contact Us</a></li>
									      <li><a href="/login/">Login</a></li>
									      <!-- <li><a href="http://www.iitb.ac.in/">IITB</a></li> -->
									 </ul>
								</div>
							</div>
							<div class="col-sm-4"><h4>Side Bar</h4>
								<div>
									<ul>    <li><a href="/">Introduction</a></li>
										<!--<li><a href="/">Proposal by IITB</a></li>-->
										<li><a href="/">History of Aakash</a></li>
										<li><a href="/">Aakash Configuration</a></li>
										<li><a href="/">Tablet Distribution &amp; Testing</a></li>
										<li><a href="/">Training Programs</a></li>
										<li><a href="/">Projects</a></li>
										
									<!--	<li><a href="">Research &amp; Development</a></li> -->
										<li><a href="/">Future of Aakash</a></li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4"><h4>Footer Menu</h4>
								<div>
									<ul>    <li><a href="http://mhrd.gov.in/">MHRD</a></li>
										<li><a href="https://github.com/iitbaakash">GitHub</a></li>
										<li><a href="http://www.google.com/">Google</a></li>
										<li><a href="http://www.facebook.com/">Facebook</a></li>
										<li><a href="http://www.youtube.com/user/theaakashtablet">YouTube</a></li>
										<li><a href="http://www.sakshat.ac.in/">NMEICT</a></li>
									</ul>
								</div>
							</div>   
						</div>
  					</div>
				</div>
			</div>
			
        	</div>
 	</div>	
</div> 
</div> 

{% endblock body_block %}


