{% extends 'base.html' %}
{% load static %}

{% block title %}
-  Tutorials
{% endblock title %}

{% block body_block %}
<div class="container" style="padding-top:2.5cm;">
	<div>
		<div>
			<div >
				<h2>Site Map</h2>
			</div>		
			<div>				
				<div>
					<a href="#" ></a>
					<div>
						<div>
   							<div>
      								<div><h4>Main Menu</h4>
									<div>
									  <ul>
									      <li><a href="http://www.aakashlabs.org/">Aakash Lab</a></li>
									      <li><a href="">Home</a></li>
									      <li>
										<a href="">Aakash Projects</a>
										 <ul>
										     <li><a href="">Aakash Centers</a></li>
									             <li><a href="">IITB Projects</a></li>
										     <li><a href="">All Projects</a></li>
									         </ul>
									      </li>
									      <li><a href="">Activities @ IITB</a>
										 <ul>
									             <li><a href="">IITB</a></li>
									             <li><a href="">AADL</a></li><!-- Others -->
									         </ul>
									      </li>
									      <li><a href="">FAQs</a></li>
									      <li><a href="">More</a></li>
										<ul>
									             <li><a href="">Documentation</a></li>
									             <li><a href="">Articles &amp; Publication</a></li>
										     <li><a href="">Tutorials</a></li>
										     <li><a href="">Compete</a></li>
									             <li><a href="">News</a></li>
									         </ul>
									      <li><a href="">Contact Us</a></li>
									      <li><a href="">Login</a></li>
									      <li><a href="http://www.iitb.ac.in/">IITB</a></li>
									 </ul>
								</div>
							</div>
							<div><h4>Side Bar</h4>
								<div>
									<ul>    <li><a href="">Introduction</a></li>
										<li><a href="">Proposal by IITB</a></li>
										<li><a href="">History of Aakash</a></li>
										<li><a href="">Aakash Configuration</a></li>
										<li><a href="">Tablet Distribution &amp; Testing</a></li>
										<li><a href="">Training Programs</a></li>
									<!--	<li><a href="">Research &amp; Development</a></li> -->
										<li><a href="">Future of Aakash</a></li>
									</ul>
								</div>
							</div>
							<div><h4>Footer Menu</h4>
								<div>
									<ul>    <li><a href="http://mhrd.gov.in/">MHRD</a></li>
										<li><a href="https://github.com/">Git</a></li>
										<li><a href="http://www.google.com/">Google</a></li>
										<li><a href="http://www.facebook.com/">Facebook</a></li>
										<li><a href="http://www.youtube.com/">YouTube</a></li>
										<li><a href="http://www.sakshat.ac.in/">NMEICT</a></li>
									</ul>
								</div>
							</div>   
						</div>
  					</div>
				</div>
			</div>
			
        	</div>
 	</div>	
</div> 
</div> 

{% endblock body_block %}


