{% extends 'base.html' %}
{% load static %}

{% block title %}
-  Tutorials
{% endblock title %}

{% block body_block %}
<div class="container" style="padding-top:2.5cm;">
 <div class="page-header">
 <h1> Tutorials </h1>
  </div>
</div>



<div class="container">	
<div class="layer">

<div class="panel-group" id="accordion">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
           <b> Chapter 1 :</b> JAVA Basics</a> <p style="float:right; "><a style="color:white" href="https://github.com/development-at-aakash-lab/Android-workshop-content-2013/tree/master/Session%201-Java%20Basics/Slides">Slides</a>&nbsp;&nbsp;&nbsp;<a style="color:white" href="https://github.com/development-at-aakash-lab/Android-workshop-content-2013/tree/master/Session%201-Java%20Basics/Example%20code"> Example</a></p>
        
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
       <ul>
	<li>OOPs Concepts </li>
	<li>Inheritance</li>
	<li>Packages & interfaces </li>
	<li>Multi threading </li>
	<li>Examples</li>
  
	</ul>
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        <b>Chapter 2 :</b> Introduction to Android part I</a> <p style="float:right; "><a style="color:white" href="https://github.com/development-at-aakash-lab/Android-workshop-content-2013/tree/master/Session%202-Introduction%20to%20Android">Slides</a>&nbsp;&nbsp;&nbsp;<a href="http://www.youtube.com/watch?v=RU2qJTO0Gms&feature=youtu.be" style="color:white"> Videos</a></p>
        
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
       <ul>
	<li>Introduction </li>
	<li>Android version and API Level</li>
	<li>Comparison of DVM and JVM </li>
	</ul>
      </div>
    </div>
  </div>
<div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          <b>Chapter 3 :</b> Introduction to Android part II</a> <p style="float:right; "><a style="color:white" href="https://github.com/development-at-aakash-lab/Android-workshop-content-2013/tree/master/Session%202-Introduction%20to%20Android/slides">Slides</a>&nbsp;&nbsp;&nbsp;<a style="color:white" href="http://www.youtube.com/watch?v=d45uLZEU5U0"> Videos</a></p>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
       <ul>
	<li>Android Features</li>
	<li>Application Fundamentals</li>
	<li>Android Application Components</li></ul>
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
        <b>Chapter 4 :</b> Configuring Android Development Environment part I</a> <p style="float:right; "><a style="color:white" href="https://github.com/development-at-aakash-lab/Android-workshop-content-2013/tree/master/Session%203-Installation%20and%20building%20simple%20app%20/Slides">Slides</a>&nbsp;&nbsp;&nbsp;<a style="color:white" href="http://www.youtube.com/watch?v=DqVOaDrt8Zc">Videos</a></p>
   
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
       <ul>
	<li> Requirement </li>
	<li>Familiarization with Eclipse IDE</li>
	</ul>
      </div>
    </div>
  </div>
 <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
         <b>Chapter 5 :</b> Configuring Android Development Environment part II</a> <p style="float:right; "><a style="color:white" href="https://github.com/development-at-aakash-lab/Android-workshop-content-2013/tree/master/Session%203-Installation%20and%20building%20simple%20app%20/Slides">Slides</a>&nbsp;&nbsp;&nbsp;<a style="color:white" href="http://www.youtube.com/watch?v=6zfN_S8Vyrc">Videos</a>&nbsp;&nbsp;&nbsp; <a style="color:white" href="https://github.com/development-at-aakash-lab/Android-workshop-content-2013/tree/master/Session%203-Installation%20and%20building%20simple%20app%20/Example%20code">Example</a></p>
	        
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
         <ul>
	<li>Creating Simple application </li>
	<li>Understanding Project Structure</li>
	
	</ul>
      </div>
    </div>
  </div>


  </div>
</div>

</div>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>


{% endblock body_block %}
